/* RESET */

/*
Carefully reset the tags you are using. Instead of using
the * asterisk wildcard selector, I hand pick my own tags.
Occasionally you'll want to avoid reseting a tag, like on
certain form inputs. This allows you to be intentional.
It also helps me keep track of the elements I'll be
working with.
*/

html, body, section, ul, li, img, h1, a {
  /*
  Set the box model property sizes to zero. You would never
  want these properties to be inherited or to "cascade".
  */
  margin: 0;
  padding: 0;
  border: 0;

  /*
  Having font, color, and text-align properties set to
  inherit, and thus receive their parents' values, turns out
  to be super useful. You only want to declare the font
  specifications on the body, rather than repeating them for
  each element. Never set it to an actual default in the
  reset, or you'll lose the cascading property, and will be
  fighting it all throughout your stylesheet.
  */
  font: inherit;
  color: inherit;
  text-align: inherit;
  vertical-align: inherit;
  text-decoration: none;
  /*
  Inheriting makes little sense for backgrounds, rather have
  it be transparent and you will see the parents' background
  behind it. That way you would intentionally override it.
  */
  background: transparent;
}

ul {
  /*
  Unordered lists happen to be extremely useful for grouping
  content. However, in most every case we could do without
  the little bullet points, so lets remove them by default.
  */
  list-style: none;
}

button {
  display: block;
  cursor: pointer;
  outline: none;
  /*
  We're forcing the button to behave like the default box
  model other elements adhere to, all for simplicity's sake.
  */
  box-sizing: content-box;
  -webkit-appearance: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

/* UTILS */

.group:after {
  content: "";
  display: block;
  clear: both;
}

/* STYLE */
body{
  background: #dddddd;
  text-align: center;
  font-family: sans-serif;
}

.header {
  font-size: 36px;
  padding: 20px;
  margin: 35px auto 0;
}

main {
  width: 900px
}

.main-content{
  padding: 20px;
  float: right;
  width: 600px
}

.sidebar {
  padding: 20px;
  width: 200px;
  float: left;
}
.projects{
  float: left;
}

li {
  padding-bottom: 20px;
  /*background: orange;*/
}

a.project {
  margin: auto;
  width: 200px;
  cursor: pointer;
  display: block;
  padding: 15px;
  background: #bbbbbb;
  color: blue;
  border: 2px solid #888888;
  border-radius: 6px;
}

a.project:hover {
  color: red;
}
